.Calendar {
    background: var(--celeste-L);
    min-width: min-content;
    position: relative;
}

.Calendar__daysContainer {
    display: flex;
    gap: 0.2em;
    padding: 0.2em;
    position: relative;
    flex-direction: column;
}

@media (max-width: 799px) and (max-aspect-ratio: 4/3) {
    .ommitable {
        display: none;
    }
}

@media (min-width: 800px), (min-aspect-ratio: 4/3) {
    .Calendar__daysContainer {
        display: grid;
        gap: 0.2em;
        grid-template-columns: repeat(7, 1fr);
        padding: 0.2em;
        position: relative;
    }
}

.CalendarHeader__Label,
.CalendarHeader__WeekDayLabel {
    color: var(--black-transparent);
    font-size: 14px;
    padding: 0.4em 0 0.2em;
    text-align: center;
}

/* .CalendarHeader__WeekDayLabel {
    height: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
} */
