.CalendarReminder {
    box-shadow: 0 4px 8px -3px var(--shadow);
    min-height: 3em;
    padding: 0.4em 0.8em;
    line-height: 96%;
}

.CalendarReminder > header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.CalendarReminder__Edit-Button {
    color: var(--black-transparent-L);
    display: inline-block;
    font-size: 0.9rem;
    margin-top: 0.2rem;
    padding: 0;
    text-align: left;
    width: 100%;
}

.CalendarReminder__Time,
.CalendarReminder__City,
.CalendarReminder__Weather {
    color: var(--color-lightgray);
    font-size: 13px;
}

.CalendarReminder__Time {
    min-width: max-content;
}

.CalendarReminder__Text {
    margin: 0.2em 0;
}
