.Header {
    align-items: center;
    background: var(--tea-green-sll);
    box-sizing: border-box;
    display: flex;
    grid-area: header;
    height: 100%;
    justify-content: center;
}

@media (min-width: 800px), (min-aspect-ratio: 4/3) {
    .Header {
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

.Header__Title {
    color: white;
    /* letter-spacing: 1px; */
    font-size: 1.4em;
    line-height: 100%;
    font-variation-settings: 'wght' 600;
    font-weight: normal;
}