.SideBar {
    display: flex;
    flex-direction: column;
    padding: 2em 1.2em 0;
    min-height: 90%;
    /* justify-content: center; */
}

.SideBar__Random-Button {
    margin-top: 0.6rem;
    width: 100%;
}